h1{
    background-color: blue;
}
.ul {
    border: 1px solid #ccc;
    font-size: 14px;
    color: rgb(0, 0, 0);
    background-color: red;
}
.exmp{
    border: 2px solid #000;
    background-color: blue;
}
Input[type=“hello”] {

    font-size: 16px;
    
    line-height: 18px;
    
    }
.container{

        margin: 0 auto;
        
        width: 1200px;
}
.p{
    color: #ccc;
    background-color: #000;
    border: 2px solid black;
}
