@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Shadows+Into+Light&family=Unbounded:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Playfair+Display:wght@800&family=Prosto+One&family=Shadows+Into+Light&family=Unbounded:wght@200&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.left-column,
.right-column{
width: 50%;
}
.right-column figure img {
    width: 100%;
  }
body{
    background-color: rgb(38, 81, 21);
    color: azure;
}
h1{
    font-family: 'Cinzel', serif;
    font-size: 60px;
    font-weight: bolder;
}
.twoHalfLayout{
    display: flex;
}
img{
    width: auto;
    height: 400px;
}
.button a{
        display: inline-block;
        padding: 10px 50px;
        background: orange;
        border-radius: 30px;
        text-decoration: none;
        color: black;
        font-size: 18px;
        line-height: 1.4;
        font-weight: 800;
        transition: all 0.5s ease;
}
.button b {
    display: inline-block;
    padding: 10px 50px;
    background: orange;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 800;
    transition: all 0.5s ease;
    text-align:end;
  }